# Add games in alphabetical order.
# Add name of game next to the url.
# Get name of game from steam.
# If not from any store add name you think it needs.

### H ###

# Hacker Evolution https://store.steampowered.com/app/70100/Hacker_Evolution/
{ "name": "HackerEvolution", "type": "Game" }

# Hades' Star https://store.steampowered.com/app/755800/Hades_Star/
{ "name": "hades_linux.x64", "type": "Game" }

# Half Life: Alyx https://store.steampowered.com/app/546560/HalfLife_Alyx/
{ "name": "hlvr", "type": "Game" }

# Half-Life https://store.steampowered.com/app/70/HalfLife/
# Half-Life: Blue Shift https://store.steampowered.com/app/130/HalfLife_Blue_Shift/
# Half-Life: Opposing Force https://store.steampowered.com/app/50/HalfLife_Opposing_Force/
{ "name": "hl.sh", "type": "Game" }
{ "name": "hl_linux", "type": "Game" }

# Half-Life 2 https://store.steampowered.com/app/220/HalfLife_2/
# Half-Life: Source https://store.steampowered.com/app/280/HalfLife_Source/
{ "name": "hl2_linux", "type": "Game" }
{ "name": "hl2.sh", "type": "Game" }

# Half-Life Deathmatch: Source https://store.steampowered.com/app/360/HalfLife_Deathmatch_Source/
{ "name": "hl1mp_linux64", "type": "Game" }
{ "name": "hl1mp.sh", "type": "Game" }

# Half-Life 2: Deathmatch https://store.steampowered.com/app/320/HalfLife_2_Deathmatch/
{ "name": "hl2mp_linux64", "type": "Game" }
{ "name": "hl2mp.sh", "type": "Game" }

# Halls of Torment https://store.steampowered.com/app/2218750/Halls_of_Torment/
{ "name": "HallsOfTorment.x86_64", "type": "Game" }

# Hard West https://store.steampowered.com/app/307670/Hard_West/
{ "name": "HardWest.x86", "type": "Game" }
{ "name": "HardWest.x86_64", "type": "Game" }

# Harvester https://store.steampowered.com/app/287020/Harvester/
{ "name": "dosbox", "type": "Game" }
{ "name": "launch_harvester_game.sh", "type": "Game" }

# Haste https://store.steampowered.com/app/1796470/Haste/
{ "name": "Haste.x86_64", "type": "Game" }

# Hatred https://store.steampowered.com/app/341940/Hatred/
{ "name": "Hatred-Linux-Shipping", "type": "Game" }

# Hammerfight https://store.steampowered.com/app/41100/Hammerfight/
{ "name": "Hammerfight", "type": "Game" }

# Hammerwatch https://store.steampowered.com/app/239070/Hammerwatch/
{ "name": "RunHammerwatch", "type": "Game" }

# Hamster Hunter https://store.steampowered.com/app/2726490/Hamster_Hunter/
{ "name": "hh.x86_64", "type": "Game" }

# Hand of Fate https://store.steampowered.com/app/266510/Hand_of_Fate/
{ "name": "Hand of Fate.x86", "type": "Game" }
{ "name": "Hand of Fate.x86_64", "type": "Game" }

# Havendock https://store.steampowered.com/app/2020710/Havendock/
{ "name": "Havendock", "type": "Game" }

# Hearts of Iron IV https://www.paradoxinteractive.com/games/hearts-of-iron-iv
# Hearts of Iron IV https://store.steampowered.com/app/394360/Hearts_of_Iron_IV/
{ "name": "hoi4", "type": "Game" }

# Helltaker https://store.steampowered.com/app/1289310/Helltaker/
{ "name": "helltaker_lnx.x86_64", "type": "Game" }

# Heroes of Hammerwatch https://store.steampowered.com/app/677120/Heroes_of_Hammerwatch/
{ "name": "HWR", "type": "Game" }

# Heroine's Quest: The Herald of Ragnarok https://store.steampowered.com/app/283880/Heroines_Quest_The_Herald_of_Ragnarok/
{ "name": "Heroine'sQuest", "type": "Game" }

# Hero of the Kingdom https://store.steampowered.com/app/259550/Hero_of_the_Kingdom/
{ "name": "Hero of the Kingdom", "type": "Game" }
{ "name": "Hero_of_the_Kingdom", "type": "Game" }

# Hero of the Kingdom III https://store.steampowered.com/app/772430/Hero_of_the_Kingdom_III/
{ "name": "Hero of the Kingdom III", "type": "Game" }
{ "name": "Hero_of_the_Kingdom_III", "type": "Game" }

# Hero Siege https://store.steampowered.com/app/269210/Hero_Siege/
{ "name": "Hero_Siege", "type": "Game" }

# hexceed https://store.steampowered.com/app/1463920/hexceed/
{ "name": "hexceed", "type": "Game" }

# Hexcells https://store.steampowered.com/app/265890/Hexcells/
{ "name": "Hexcells.x86", "type": "Game" }
{ "name": "Hexcells.x86_64", "type": "Game" }

# Hexcells Infinite https://store.steampowered.com/app/304410/Hexcells_Infinite/
{ "name": "Hexcells Infinite.x86", "type": "Game" }
{ "name": "Hexcells Infinite.x86_64", "type": "Game" }

# Hexcells Plus https://store.steampowered.com/app/271900/Hexcells_Plus/
{ "name": "Hexcells Plus.x86", "type": "Game" }
{ "name": "Hexcells Plus.x86_64", "type": "Game" }

# Hexen II: Hammer of Thyrion http://uhexen2.sourceforge.net/
{ "name": "glhexen2", "type": "Game" }
{ "name": "glhwcl", "type": "Game" }
{ "name": "hexen2", "type": "Game" }
{ "name": "hwcl", "type": "Game" }

# Higurashi When They Cry Hou - Ch.1 Onikakushi https://store.steampowered.com/app/310360/Higurashi_When_They_Cry_Hou__Ch1_Onikakushi/
{ "name": "HigurashiEp01.x86", "type": "Game" }
{ "name": "HigurashiEp01.x86_64", "type": "Game" }

# HITMAN https://store.steampowered.com/app/236870/HITMAN/
{ "name": "HitmanPro", "type": "Game" }

# HOARD https://store.steampowered.com/app/63000/HOARD/
{ "name": "Reuben.bin.x86", "type": "Game" }

# Hobo: Tough Life https://store.steampowered.com/app/632300/Hobo_Tough_Life/
{ "name": "HoboRPG.x86_64", "type": "Game" }

# Hollow Knight https://store.steampowered.com/app/367520/Hollow_Knight/
{ "name": "hollow_knight.x86_64", "type": "Game" }

# Hollow Knight: Silksong https://store.steampowered.com/app/1030300/Hollow_Knight_Silksong/
{ "name": "Hollow Knight Silksong", "type": "Game" }

# Home Behind https://store.steampowered.com/app/467960/Home_Behind/
{ "name": "HomeBehind.x86", "type": "Game" }
{ "name": "HomeBehind.x86_64", "type": "Game" }

# Home Behind 2 https://store.steampowered.com/app/1220010/Home_Behind_2/
{ "name": "HomeBehind2.x86", "type": "Game" }
{ "name": "HomeBehind2.x86_64", "type": "Game" }

# Homefront: The Revolution https://store.steampowered.com/app/223100/Homefront_The_Revolution/
{ "name": "run_hf2", "type": "Game" }

# Hook https://store.steampowered.com/app/367580/Hook/
{ "name": "hook.x86_64", "type": "Game" }

# Horripilant https://store.steampowered.com/app/3525970/Horripilant/
{ "name": "Horripilant.x86_64", "type": "Game" }

# Hotline Miami https://store.steampowered.com/app/219150/Hotline_Miami/
{ "name": "Hotline", "type": "Game" }

# Hotline Miami 2 Wrong Number  https://store.steampowered.com/app/274170/Hotline_Miami_2_Wrong_Number/
{ "name": "HotlineMiami2", "type": "Game" }

# Hover https://store.steampowered.com/app/280180/Hover/
{ "name": "Hover.x86", "type": "Game" }

# Hue https://store.steampowered.com/app/383270/Hue/
{ "name": "Hue.x86", "type": "Game" }
{ "name": "Hue.x86_64", "type": "Game" }

# HuniePop https://store.steampowered.com/app/339800/HuniePop/
{ "name": "HuniePop.x86", "type": "Game" }
{ "name": "HuniePop.x86_64", "type": "Game" }

# HUNTDOWN https://store.steampowered.com/app/598550/HUNTDOWN/
{ "name": "Huntdown.x86_64", "type": "Game" }

# Hurtworld https://store.steampowered.com/app/393420/Hurtworld/
{ "name": "Hurtworld.x86_64", "type": "Game" }

# Hyper Light Drifter https://store.steampowered.com/app/257850/Hyper_Light_Drifter/
{ "name": "HyperLightDrifter", "type": "Game" }

# Hytale https://hytale.com/
{ "name": "HytaleClient", "type": "Game" }
