# Add name of game next to the url.
# Get name of game from steam.
# If not from any store add name you think it needs.

# The Witch & The 66 Mushrooms https://store.steampowered.com/app/891170/The_Witch__The_66_Mushrooms/
{ "name": "player.exe", "type": "Game" }

# STEINS;GATE 0 https://store.steampowered.com/app/825630/STEINSGATE_0/
# CHAOS;CHILD https://store.steampowered.com/app/970570/CHAOSCHILD/
# BLACK SOULS II https://store.steampowered.com/app/3855540/BLACK_SOULS_II/
# BLACK SOULS https://store.steampowered.com/app/3755860/BLACK_SOULS/
# Scott Pilgrim EX https://store.steampowered.com/app/2640950/Scott_Pilgrim_EX/
# Docked https://store.steampowered.com/app/2487300/Docked/
# Orangeblood https://store.steampowered.com/app/1042670/Orangeblood/
# Rune Factory: Guardians of Azuma https://store.steampowered.com/app/2864560/Rune_Factory_Guardians_of_Azuma/
# Always Sometimes Monsters https://store.steampowered.com/app/274310/Always_Sometimes_Monsters/
# Commando Collection https://store.steampowered.com/app/3059010/Commando_Collection/
# Destiny Warriors RPG https://store.steampowered.com/app/399790/Destiny_Warriors_RPG/
# Elise the Devil https://store.steampowered.com/app/711990/Elise_the_Devil/
{ "name": "Game.exe", "type": "Game" }

# Dragon Cliff https://store.steampowered.com/app/758190/Dragon_Cliff/
# Fish Idle 2: Underwater Mystery https://store.steampowered.com/app/3037410/Fish_Idle_2_Underwater_Mystery/
# Castlevania Anniversary Collection https://store.steampowered.com/app/1018010/Castlevania_Anniversary_Collection/
# Bloodstained: Curse of the Moon 2 https://store.steampowered.com/app/1257360/Bloodstained_Curse_of_the_Moon_2/
# Persona® 5 Strikers https://store.steampowered.com/app/1382330/Persona_5_Strikers/
# DRAGON BALL GEKISHIN SQUADRA https://store.steampowered.com/app/2072560/DRAGON_BALL_GEKISHIN_SQUADRA/
# Danganronpa Another Episode: Ultra Despair Girls https://store.steampowered.com/app/555950/Danganronpa_Another_Episode_Ultra_Despair_Girls/
# Leaf Blower Revolution - Idle Game https://store.steampowered.com/app/1468260/Leaf_Blower_Revolution__Idle_Game/
# Arctic Eggs https://store.steampowered.com/app/2763670/Arctic_Eggs/
# BlazeRush https://store.steampowered.com/app/302710/BlazeRush/
# Castlevania Advance Collection https://store.steampowered.com/app/1552550/Castlevania_Advance_Collection/
# Castlevania Advance Collection https://store.steampowered.com/app/1552550/Castlevania_Advance_Collection/
# Coloring Game 2 https://store.steampowered.com/app/1216200/Coloring_Game_2/
{ "name": "game.exe", "type": "Game" }

# Sonic Adventure 2 Sonic & All-Stars Racing
# Eador. Masters of the Broken World https://store.steampowered.com/app/232050/Eador_Masters_of_the_Broken_World/
# Amnesia: A Machine for Pigs https://store.steampowered.com/app/239200/Amnesia_A_Machine_for_Pigs/
# Danganronpa 2: Goodbye Despair https://store.steampowered.com/app/413420/Danganronpa_2_Goodbye_Despair/
# AI: The Somnium Files https://store.steampowered.com/app/948740/AI_The_Somnium_Files/
# Aura Kingdom https://store.steampowered.com/app/268420/Aura_Kingdom/
# Command: Modern Operations https://store.steampowered.com/app/1076160/Command_Modern_Operations/
# Crayon Physics Deluxe https://store.steampowered.com/app/26900/Crayon_Physics_Deluxe/
{ "name": "Launcher.exe", "type": "Game" }

# Closers https://store.steampowered.com/app/215830/Closers/
{ "name": "LAUNCHER.exe", "type": "Game" }

# CHAOS;CHILD https://store.steampowered.com/app/970570/CHAOSCHILD/
# A Total War Saga: THRONES OF BRITANNIA https://store.steampowered.com/app/712100/A_Total_War_Saga_THRONES_OF_BRITANNIA/
# Haydee https://store.steampowered.com/app/530890/Haydee/
{ "name": "launcher.exe", "type": "Game" }

# Guild Wars® Reforged https://store.steampowered.com/app/29720/Guild_Wars_Reforged/
# GUNTOUCHABLES https://store.steampowered.com/app/2543510/GUNTOUCHABLES/
{ "name": "Gw.exe", "type": "Game" }

# Football Manager Series
# Football Manager 26 https://store.steampowered.com/app/3551340/Football_Manager_26/
# Football Manager 2024 https://store.steampowered.com/app/2252570/Football_Manager_2024/
{ "name": "fm.exe", "type": "Game" }
{ "name": "FM.exe", "type": "Game" }
{ "name": "Berkelium.exe", "type": "Game" }

# DRAGON BALL Z: KAKAROT https://store.steampowered.com/app/851850/DRAGON_BALL_Z_KAKAROT/
# Airline Tycoon Deluxe https://store.steampowered.com/app/331920/Airline_Tycoon_Deluxe/
{ "name": "AT.exe", "type": "Game" }

# Day of Defeat https://store.steampowered.com/app/30/Day_of_Defeat/
# Counter-Strike https://store.steampowered.com/app/10/CounterStrike/
# Counter-Strike: Condition Zero https://store.steampowered.com/app/80/CounterStrike_Condition_Zero/
# Deathmatch Classic https://store.steampowered.com/app/40/Deathmatch_Classic/
{ "name": "hl.exe", "type": "Game" }

# Fistful of Frags https://store.steampowered.com/app/265630/Fistful_of_Frags/
{ "name": "hl2.exe", "type": "Game" }

# Warhammer: Chaos And Conquest https://store.steampowered.com/app/1144170/Warhammer_Chaos_And_Conquest/
# Warhammer 40,000: Inquisitor - Martyr https://store.steampowered.com/app/527430/Warhammer_40000_Inquisitor__Martyr/
{ "name": "Warhammer.exe", "type": "Game" }

# Star Trek Online https://store.steampowered.com/app/9900/Star_Trek_Online/
{ "name": "GameClient.exe", "type": "Game" }

# RV There Yet? https://store.steampowered.com/app/3949040/RV_There_Yet/
# RIDE https://store.steampowered.com/app/345660/RIDE/
{ "name": "Ride.exe", "type": "Game" }
{ "name": "Ride-Win64-Shipping.exe", "type": "Game" }
{ "name": "RideX64.exe", "type": "Game" }

# Grand Theft Auto IV: The Complete Edition https://store.steampowered.com/app/12210/Grand_Theft_Auto_IV_The_Complete_Edition/
# Grand Theft Auto V Enhanced https://store.steampowered.com/app/3240220/Grand_Theft_Auto_V_Enhanced/
{ "name": "PlayGTAV.exe", "type": "Game" }

# ARCADE GAME SERIES: PAC-MAN https://store.steampowered.com/app/394160/ARCADE_GAME_SERIES_PACMAN/
# PAC-MAN™ Championship Edition DX+ https://store.steampowered.com/app/236450/PACMAN_Championship_Edition_DX/
{ "name": "PAC-MAN.exe", "type": "Game" }

# Crusader Kings III https://store.steampowered.com/app/1158310/Crusader_Kings_III/
# Across the Obelisk https://store.steampowered.com/app/1385380/Across_the_Obelisk/
# Age of Wonders 4 https://store.steampowered.com/app/1669000/Age_of_Wonders_4/
{ "name": "dowser.exe", "type": "BG_CPUIO" }

# Baldur's Gate Store page is down https://store.steampowered.com/app/22828
# Baldur's Gate: Enhanced Edition https://store.steampowered.com/app/228280/Baldurs_Gate_Enhanced_Edition/
# Baldur's Gate II: Enhanced Edition https://store.steampowered.com/app/257350/Baldurs_Gate_II_Enhanced_Edition/
{ "name": "Baldur.exe", "type": "Game" }

# Call to Arms https://store.steampowered.com/app/302670/Call_to_Arms/
# Call to Arms - Gates of Hell: Ostfront https://store.steampowered.com/app/400750/Call_to_Arms__Gates_of_Hell_Ostfront/
{ "name": "call_to_arms.exe", "type": "Game" }
{ "name": "call_to_arms_ed.exe", "type": "Game" }
{ "name": "call_to_arms_server.exe", "type": "Game" }

# Cossacks II: Battle for Europe https://store.steampowered.com/app/4890/Cossacks_II_Battle_for_Europe/
{ "name": "engine.exe", "type": "Game" }

# DRAGON BALL XENOVERSE 2 https://store.steampowered.com/app/454650/DRAGON_BALL_XENOVERSE_2/
# FREEDOM WARS Remastered https://store.steampowered.com/app/3004100/FREEDOM_WARS_Remastered/
{ "name": "START.exe", "type": "Game" }

# City Car Driving https://store.steampowered.com/app/493490/City_Car_Driving/
{ "name": "Starter.exe", "type": "Game" }

# EverQuest https://store.steampowered.com/app/205710/EverQuest/
# EverQuest II https://store.steampowered.com/app/201230/EverQuest_II/
# DC Universe Online https://store.steampowered.com/app/24200/DC_Universe_Online/
{ "name": "LaunchPad.exe", "type": "BG_CPUIO" }

# How to Survive https://store.steampowered.com/app/250400/How_to_Survive/
# How to Survive 2 https://store.steampowered.com/app/360170/How_to_Survive_2/
{ "name": "Detect.exe", "type": "Game" }

# Haydee 2 https://store.steampowered.com/app/1444650/Haydee_2/
# Haydee 3 https://store.steampowered.com/app/3508770/Haydee_3/
{ "name": "SteamGame.exe", "type": "Game" }

# Age of Darkness: Final Stand https://store.steampowered.com/app/1426450/Age_of_Darkness_Final_Stand/
# Achilles: Legends Untold https://store.steampowered.com/app/1314000/Achilles_Legends_Untold/
{ "name": "Achilles.exe", "type": "Game" }
{ "name": "Achilles-Win64-Shipping.exe", "type": "Game" }

# Crazy Taxi https://store.steampowered.com/app/71230/Crazy_Taxi/
{ "name": "AppLauncher.exe", "type": "Game" }

# Airships: Conquer the Skies https://store.steampowered.com/app/342560/Airships_Conquer_the_Skies/
# Landfall Archives https://store.steampowered.com/app/2353760/Landfall_Archives/
{ "name": "Airships.exe", "type": "Game" }

# Alien Shooter https://store.steampowered.com/app/33100/Alien_Shooter/
# Alien Shooter 2: Reloaded https://store.steampowered.com/app/33120/Alien_Shooter_2_Reloaded/
{ "name": "AlienShooter.exe", "type": "Game" }

# Aviary Attorney https://store.steampowered.com/app/384630/Aviary_Attorney/
# Angvik https://store.steampowered.com/app/278890/Angvik/
# Ghostly Matter https://store.steampowered.com/app/800240/Ghostly_Matter/
{ "name": "nw.exe", "type": "Game" }

# ARK: Survival Evolved https://store.steampowered.com/app/346110/ARK_Survival_Evolved/
# ARK: Survival Of The Fittest https://store.steampowered.com/app/407530/ARK_The_Survival_Of_The_Fittest/
{ "name": "ShooterGame_BE.exe", "type": "Game" }
{ "name": "ShooterGame.exe", "type": "Game" }

# Spacewar more like Pirates of the Caribbean XD https://steamdb.info/app/480/
{ "name": "SteamWorksExample.exe", "type": "Service" }

# Call of Duty Launcher
{ "name": "bootstrapper.exe", "type": "BG_CPUIO" }

# Some KOEI TECMO Franchise's Game's
# DYNASTY WARRIORS 8: Xtreme Legends Complete Edition https://store.steampowered.com/app/278080/DYNASTY_WARRIORS_8_Xtreme_Legends_Complete_Edition/
{ "name": "Launch.exe", "type": "Game" }
{ "name": "Launch_EA.exe", "type": "Game" }
{ "name": "Launch_JP.exe", "type": "Game" }

# Crash handlers
{ "name": "crashpad_handler.exe", "type": "BG_CPUIO" }
{ "name": "CrashReportClient.exe", "type": "BG_CPUIO" }
{ "name": "UniCrashReporter.exe", "type": "BG_CPUIO" }
{ "name": "CrashLogsGenerator.exe", "type": "BG_CPUIO" }
{ "name": "codCrashHandler.exe", "type": "BG_CPUIO" }
{ "name": "bootstrapperCrashHandler.exe", "type": "BG_CPUIO" }

# Anti-cheat clients
{ "name": "start_protected_game.exe", "type": "BG_CPUIO" }
{ "name": "EasyAntiCheat_EOS_Setup.exe", "type": "BG_CPUIO" }
{ "name": "EAAntiCheat.GameServiceLauncher.exe", "type": "BG_CPUIO" }
{ "name": "BEService_x64.exe", "type": "BG_CPUIO" }
{ "name": "SGuard64.exe", "type": "BG_CPUIO" }

# Web helper processes
{ "name": "UnrealCEFSubProcess.exe", "type": "BG_CPUIO" }
{ "name": "CrGpuMain.exe", "type": "BG_CPUIO" }
{ "name": "CrUtilityMain.exe", "type": "BG_CPUIO" }
{ "name": "ZFGameBrowser.exe", "type": "BG_CPUIO" }
{ "name": "CoherentUI_Host.exe", "type": "BG_CPUIO" }
{ "name": "awesomium_process.exe", "type": "BG_CPUIO" }
{ "name": "EOSBootstrapper.exe", "type": "BG_CPUIO" }

# Background video player helper processes
{ "name": "CCVideoPlayer.exe", "type": "BG_CPUIO" }
{ "name": "MLiveCCPlayerApp.exe", "type": "BG_CPUIO" }
{ "name": "CCMini.exe", "type": "BG_CPUIO" }

# Redistributables
{ "name": "UEPrereqSetup_x64.exe", "type": "BG_CPUIO" }
{ "name": "DXSETUP.exe", "type": "BG_CPUIO" }
{ "name": "D3D11Install.exe", "type": "BG_CPUIO" }
{ "name": "vcredist_x64.exe", "type": "BG_CPUIO" }
{ "name": "vcredist_x86.exe", "type": "BG_CPUIO" }
{ "name": "VC_redist.x64.exe", "type": "BG_CPUIO" }
{ "name": "VC_redist.x86.exe", "type": "BG_CPUIO" }
{ "name": "Touchup.exe", "type": "BG_CPUIO" }
